@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --main-text: #171717;
}

html,
body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
}

body {
  font-family: var(--font-mariupol), sans-serif;
  color: var(--main-text);
  background: var(--background);
}

.transition-color-fast {
  @apply transition-colors duration-200;
}

@media (max-width: 480px) {
  .keen-slider__slide {
    flex: 0 0 auto;
  }
}
