import type { PropsWithChildren } from 'react';

import { {{pascalCase name}}Props } from './types';

const {{pascalCase name}} = ({ children }: PropsWithChildren<{{pascalCase name}}Props>) => {
  return <div>{children}</div>;
};

export default {{pascalCase name}};
